<!-- <footer>
    <p>Programmer: Esmeraldo Inciso Jr.<br>
    <a href="">esmeraldo.inciso@gmail.com</a></p>
    <p>©Happy Sad Mi Solutions</p>
</footer> -->

<!-- <div class="card-footer text-muted">
    <p>Programmer: Esmeraldo Inciso Jr.<br>
        <a href="">esmeraldo.inciso@gmail.com</a></p>
        <p>©Happy Sad Mi Solutions</p>
</div> -->
<!-- https://sites.google.com/umindanao.edu.ph/happy-sad-mi/home -->
<!-- Footer -->

<footer >
    <!-- <div class="row justify-content-center mt-auto pt-0 row-1 mb-0  px-sm-3 px-2 bg-dark " style="bottom: 0;position: fixed;width: 100%;"> -->
    <div class="row justify-content-center mt-auto pt-0 row-1 mb-0  px-sm-3 px-2 bg-dark " style="bottom: 0;position: fixed;width: 100%;">

         <div class="col-12">
             <div class="row my-4 row-1 no-gutters">
                 <div class="col-sm-3 col-auto text-center text-light"><small>&#9400; Happy Sad Mi Solutions</small></div><div class="col-md-3 col-auto "></div><div class="col-md-3 col-auto"></div>
                 <div class="col  my-auto text-md-left  text-right text-light"> <small> esmeraldo.inciso@gmail.com<span><img src="" class="img-fluid "  width="25"></span> <span><img src="" class="img-fluid "  width="25"></span></small>  </div> 
             </div>
         </div>
     </div>
 </footer>