<%- include('partials/head') %> 
<body>
    <%- include('partials/navbar') %>
    <div class="container">
        <div class="position-absolute top-50 start-50 translate-middle">
          <div class="row">
            <div class=""></div>
            <div class="col-lg-12">

              <div class="card" style="width: 25rem;">
                <div class="card-body">
                  <form action="/profile/add-listing" method="post">
                      <div class="text-center">
                          <h1>Add Listing</h1>
                      </div>
                      <br>
                      <div class="form-outline mb-4">
                          <label class="form-label" for="listingName">Listing Name</label>
                        <input type="text" name="listingName" id="listingName" class="form-control" placeholder="Enter Listing Name..."/>
                        
                      </div>
                    
                      <div class="form-outline mb-4">
                          <label class="form-label" for="description">Description</label>
                        <input type="text" name="description" id="description" class="form-control" placeholder="Enter Description..."/>
                        
                      </div>
                    
                      <div class="form-outline mb-4">
                          <label class="form-label" for="address">Address</label>
                        <!-- <input type="text" name="address" id="address" class="form-control" placeholder="Enter Address..."/> -->
                        <textarea name="address" id="address" cols="30" rows="10" placeholder="Enter Address..." class="form-control"></textarea>
                      </div>
                    
                      <button class="btn btn-primary btn-block mb-4 form-control">Add Listing</button>
                      
                  </form>
                </div>
              </div>
                
            </div>
            <div class=""></div>
        </div>
        </div>
    </div>
    
    
    <%- include('partials/footer') %>
</body>
</html>