<%- include('partials/head') %> 
<body>
    <%- include('partials/navbar') %>
    <div class="container">
        <div class="position-absolute top-50 start-50 translate-middle">
          <div class="row">
            <div class=""></div>
            <div class="col-lg-12">

              <div class="card" style="width: 25rem;">
                <div class="card-body">
                  <form action="/login" method="post">
                    <div class="text-center">
                        <h1>PaRenta Login</h1>
                    </div>
                    <br>
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="username">Username</label>
                      <input type="text" id="username" class="form-control" placeholder="Enter Your Username..."/>
                      
                    </div>
                  
                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="password">Password</label>
                      <input type="password" id="password" class="form-control" placeholder="Enter Your Password..."/>
                      
                    </div>
                  
                  
                    <!-- Submit button -->
                    <button type="button" class="btn btn-primary btn-block mb-4 form-control">Login</button>
                  
                    <!-- Register buttons -->
                    <div class="text-center">
                      <p>Not a member? <a href="/accounts/sign-up">Sign-up</a></p>
                    </div>
                  </form>
                </div>
              </div>
                
            </div>
            <div class=""></div>
        </div>
        </div>
    </div>
    
    <%- include('partials/footer') %>
</body>
</html>